body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: "Roboto";
}

.title > h1 {
    font-size: 50px;
}

.turn-display {
    font-size: 30px;
}

.player-names {
    display: flex;
    gap: 20px;
}

.board-container {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
}

.cell {
    font-size: 32px;
    filter: brightness(1);
}

.cell:hover {
    filter: brightness(0.8);
}

#restart-btn {
    font-size: 24px;
}

.cell[data-win="true"] {
    animation: glow-pop 1s ease-in-out infinite alternate;
    box-shadow:
        inset 0 0 10px #ffb84d,
        /* inner glow */
        0 0 20px #ff8c00;
    /* soft outer glow */
    transform: scale(1.05);
}